
.banner{
    background-image: url('../images/banner.png');
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
}

.img1{
    background-image: url('../images/slider-1.jpg');
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;

}

.img2{
    background-image: url('../images/slider-2.jpg');
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;

}

.img3{
    background-image: url('../images/slider-3.jpg');
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
}

.accordion-button {
    background-color: #F5F5F5;  
}